* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000;
  position: relative;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.first-section {
  background-color: #fff;
  justify-content: right;
  align-items: center;
  text-align: center;
  padding: 10px 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.second-section {
  background-color: rgba(59, 212, 228, 80%);
  padding: 120px 50px;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.icons {
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(59, 212, 228, 0.888);
  display: inline-block;
  box-shadow: 0 0 5px gainsboro;
  padding: 16px;
  margin: 20px 5px;
}

.icons:hover {
}

h2 {
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 1px;
}

#flex {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

input {
  padding: 14px 150px 14px 8px;
  margin-top: 15px;
  background-color: rgb(232, 228, 228);
  font-size: 15px;
  border: none;
}

/* .container {
  /* border-radius: 50px; */

p {
  font-size: 20px;
  margin: 20px 5px;
}

.first-container {
  margin: 60px;
  padding: 80px 50px 80px 90px;
  background-color: rgb(247, 249, 251);
}

.button {
  padding: 15px 50px;
  border-radius: 30px;
  background-color: rgba(59, 212, 228, 0.888);
  margin-bottom: 50px;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid rgb(73, 187, 195);
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button:hover {
  color: rgb(167, 109, 109);
}

.btn {
  padding: 15px 50px;
  border-radius: 30px;
  background-color: rgba(59, 212, 228, 0.888);
  margin: 20px 0 90px 0;
  color: #fff;
  font-weight: 300;
  border: 1px solid white;
  font-size: 17px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
