* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.image-1 {
  height: 110px;
  margin: 50px auto 50px auto;
  display: block;
 
}

.nav-bar {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.list-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  align-items: center;
  
}

.list-item {
  font-family: "Catamaran", sans-serif;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 14px;
  margin: 16px 0px;
  position: relative;
  line-height: 20px;
  zoom: 1;
}

a:hover {
  transition-duration: 1s;
}

a {
  text-decoration: none;
  color: black;
  padding: 0 3px;
}

.sub-nav-list {
  font-family: "Catamaran", sans-serif;
  list-style: none;
  text-transform: uppercase;
  margin: 16px 0px;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn {
  border: none;
  padding: 12px 16px;
  width: 40px;
  background-color: #fff;
}

.btn:hover {
  background-color: rgb(28, 179, 78);
}

.butt {
  padding: 14px;
  font-size: 8px;
  font-weight: bold;
  background-color: transparent;
  border-style: solid;
  margin: 100px 10px 40px 0px;
  border-color: #000;
  cursor: pointer;
  padding: 10px 25px 10px 25px;
}

.butto {
  background-color: #fff;
  padding: 20px 30px 20px 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  border-style: hidden;
  transition: width 0.4s ease-in-out;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 100px;
}

.butto:hover {
  background-color: #000;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px 60px 20px 60px;
}

.first-grid {
  background-color: rgb(128 191 93);
  text-align: center;

}

/* .img1 {
  width: 100%;
  height: 100%;
} */

.grid-h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin-bottom: 45px;
}

.first-p {
  color: rgb(32, 27, 27);
  padding-bottom: 30px;
  font-size: 25px;
}


.sub-nav {
  visibility: hidden;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  position: absolute;
  top: 40px;
  padding: 5px 15px;
  width: 200px;
}

.list-item:hover .sub-nav, .list-item:hover .shortcode-menu {
  visibility: visible;
  top: 30px;
  transition: all 0.3s ease-in-out;
}

.links {
  position: relative;
}

.list-item:hover .sub-nav ul li {
  border-bottom: 1px inset;
  text-align: left;
  background: #fff;
  font-weight: lighter;
  font-size: 14px;
  margin: 15px;
}

.list-item:hover .nav-border,
.active .nav-border {
  height: 10px;
  transition: height 0.3s ease-in-out;
  left: 0;
}

.list-item:hover .sub-nav ul li:last-child {
  border-bottom: none;
}

.sub-anchor:hover {
  color: #cded99;
}

.anchor-active {
  color: #cded99;
}

.nav-border {
  height: 0px;
  background-color: #cded99;
  width: 100%;
  position: absolute;
  top: 12px;
  z-index: -1;
}

.list-item:hover .sub-nav ul li.shortcode {
  border-bottom: none;
}

.line {
  border-right: 2px inset;
}

.flex {
  display: flex;
}

.shortcode-menu {
  width: 1160px;
  padding: 30px;
  vertical-align: middle;
  visibility: hidden;
  background-color: #fff;
  /* border: 1px solid #e7e7e7; */
  position: absolute;
  top: 40px;
  justify-content: space-between;
  left: -629px;
  font-weight: 100;
  border-top: 1px outset;
}

.shortcode{
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
    margin: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin: 85px 120px;
  grid-gap: 30px;
}

.card-image {
  display: flex;
  justify-content: center;
}

.second-grid-image {
  width: 400px;
  height: 500px;
}

.card-footer {
  background: #fff;
  width: 300px;
  padding-bottom: 50px;
  font-family: "Catamaran", sans-serif;
  font-weight: 200;
  font-size: 13px;
  text-align: center;
  /* margin-bottom: 30px; */
}

.fa-search:hover {
  color: #cded99;
  cursor: pointer;
}
