* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient( 100deg, purple, pink);
  /* background: #a521bdc9; */
  font-weight: bold;
  font-family: sans-serif;
  padding: 1rem;
}

li {
  list-style: none;
}

button{
  display: none;
}

header {
  text-decoration: none;
}

.nav-items {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 10px;
  align-items: center;
}

.nav-item {
  padding: 10px;
  background-color: #ffc107;
  margin-top: 10px;
}

.nav-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 18px;
  font-weight: bolder;
}

a:hover{
  background-color: #C6E9FF;
}

.price {
  font-weight: lighter;
  font-size: 60px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.middle-container{
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.baby-container {
  position: relative;
}

.img1 {
  width: 886px;
  height: 420px;
  margin-top: 20px;
}

.yellow {
  border: 1px;
  background-color: #ffc107;
  width: 410px;
  height: 200px;
  margin: 20px;
  text-align: center;
  padding-top: 50px;
}

.second-yellow {
  border: 1px;
  background-color: #ffc107;
  width: 410px;
  height: 200px;
  margin: 20px;
  text-align: center;
  padding-top: 50px;
}

.tacos1 {
  font-size: 25px;
  font-weight: bolder;
  margin: 2px 0 10px 40px;
  background-color: #ffc107;
  border: 1px;
  width: 258px;
  height: 40px;
  padding-top: 3px;
  position: absolute;
  bottom: 232px;
  color: #3a2f2f;
}

.tacos2 {
  font-size: 14px;
  color: #3a2f2f;
  font-weight: bolder;
  margin: 2px 0 10px 40px;
  background-color: #ffc107;
  border: 1px;
  width: 152px;
  height: 25px;
  padding-left: 5px;
  position: absolute;
  bottom: 195px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  border: 1px;
  text-align: center;
}

.img2 {
  width: 50px;
  height: 25px;
}

.img4 {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.baby-grid {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.third-content{
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.img5{
  max-width: 100%;
}

.btn2{
  background-color:#ffc107;
  width: 140px;
  text-align: center;
  padding: 10px;
  border: none;
  margin-top: 10px;
}

.third-container{
  display: flex;
  margin-top: 20px;
  background-color: #fff;
}

.content{
  margin-top: 100px;
  line-height: 2;
  font-weight: bolder;
  font-size: 15px;
}

.single-p{
  text-align: center;
  font-weight: bolder;
  margin: 25px 0;
  font-size: 20px;
}

.last-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  border: 1px;
}

.img6{
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .nav-items{
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }

  .nav-item{
    width:100%;
  }

  .nav-bar{
    margin:0;
    padding:0;
  }

  .nav-link{
    font-size:20px;
    display: block;
  }

  .middle-container{
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;

  }

  .img1{
    width: 100%;
  }

  .tacos1{
    width: 200px;
    font-size:20px;
    margin: 7px;
  }

  .tacos2{
    font-size:18px;
    width:200px;
    height: 26px;
    padding-bottom: 24px;
    margin: 7px;
  }

  .grid{
    margin-left: 0;
  }

  .yellow{
    width: 100%;
    margin-left: 0;
  }

  .second-yellow{
    width: 100%;
    margin-left: 0;
  }

  .grid-container{
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .third-container{
    flex-direction: column;

  }

  .img5{
    width: 180px;
    margin-top: 20px;
  }

  .content{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
  }

  .last-grid{
    display: grid;
    grid-template-columns:1fr;
  }

  .img6{
    width: 100%;
  }

  body{
    width: 100%;
    align-items: center;
    font-size: 18px;
  }
}

@media only screen and (min-width: 600px) {
  .nav-items{
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }

  .nav-item{
    width:100%;
  }

  .nav-bar{
    margin:0;
    padding:0;
  }

  .nav-link{
    font-size:20px;
    display: block;
  }

  .img1{
    width: 100%;
  }

  .middle-container{
    flex-direction: column;
  }

  .tacos1{
    width: 200px;
    font-size:20px;
    margin: 7px;
  }

  .tacos2{
    font-size:18px;
    width:200px;
    height: 26px;
    padding-bottom: 24px;
    margin: 7px;
  }

  .grid{
    margin-left: 0;
  }

  .yellow{
    width: 100%;
    margin-left: 0;
  }

  .second-yellow{
    width: 100%;
    margin-left: 0;
  }

  .grid-container{
    width:100%;
    display: grid;
    grid-template-columns: 1fr;

  }

  .third-container{
    flex-direction: column;

  }

  .img5{
    width: 180px;
    margin-top: 20px;
  }

  .content{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
  }

  .last-grid{
    /* width: 240px; */
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  }

  .img6{
    width: 100%;
  }

  body{
    width: 100%;
    align-items: center;
    font-size: 18px;
  }
}

  @media only screen and (min-width: 768px) {
    .nav-items{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .middle-container{
      display: flex;
    }

    .grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }

    .yellow{
      width: 100%;
      margin-left: 0;
    }

    .second-yellow{
      width: 100%;
      margin-left: 0;
    }

    body{
      background-color: purple;
    }

    .img1{
      width: 100%;
    }

    .last-grid{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3,1fr);
    }

    .img6{
      max-width: 100%;
    }

    .grid-container{
      width:100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr) ;
    }

    .third-container{
      flex-direction: column;

    }
  }

    @media only screen and (min-width: 1200px) {
    .nav-bar{
      width: 100%;
    }

    .middle-container{
      display: flex;
      width: 100%;
    }

    .grid{
      display: 
    }

    .yellow{
      width: 100%;
      margin-left: 0;
    }

    .second-yellow{
      width: 100%;
      margin-left: 0;
    }


    .img1{
      width: 100%;
    }

    .last-grid{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(5,1fr);
      margin-right:10px;

    }
    .img6{
      width: 100%;
    }

    body{
      background-color: purple;
      margin-right: 15px;
    }
  }
