* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient( 100deg, purple, pink);
  /* background: #a521bdc9; */
  font-weight: bold;
  font-family: sans-serif;
  margin: 2rem;
}

li {
  list-style: none;
}

button{
  display: none;
}

header {
  text-decoration: none;
}

.nav-items {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  padding: 10px;
  width: 246px;
  height: 50px;
  background-color: #ffc107;
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 18px;
  font-weight: bolder;
}

a:hover{
  background-color: #C6E9FF;

}

.price {
  font-weight: lighter;
  font-size: 60px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.middle-container {
  display: flex;

}

.baby-container {
  position: relative;
}

.img1 {
  width: 860px;
  height: 420px;
  margin-top: 20px;
}

.yellow {
  border: 1px;
  background-color: #ffc107;
  width: 400px;
  height: 200px;
  margin: 20px;
  text-align: center;
  padding-top: 50px;
}

.second-yellow {
  border: 1px;
  background-color: #ffc107;
  width: 400px;
  height: 200px;
  margin: 20px;
  text-align: center;
  padding-top: 50px;
}

/* @ media screen{ max-width:800px
  .container{
    font-size: 20px;
  }

} */

.tacos1 {
  font-size: 25px;
  font-weight: bolder;
  margin: 2px 0 10px 40px;
  background-color: #ffc107;
  border: 1px;
  width: 258px;
  height: 40px;
  padding-top: 3px;
  position: absolute;
  bottom: 232px;
  color: #3a2f2f;
}

.tacos2 {
  font-size: 14px;
  color: #3a2f2f;
  font-weight: bolder;
  margin: 2px 0 10px 40px;
  background-color: #ffc107;
  border: 1px;
  width: 152px;
  height: 25px;
  padding-left: 5px;
  padding-top: 5px;
  position: absolute;
  bottom: 195px;
}
/* margin-bottom: -230px; */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 180px;
  grid-gap: 20px;
  border: 1px;
  text-align: center;
}

.img2 {
  width: 50px;
  height: 25px;
}

.img4 {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.baby-grid {
  background-color: #fff;
  text-align: center;
}

/* .grid-content {
  margin-bottom: 10px;
  font-size: 18px;
}

.grid2-container{
  display: grid;
  grid-template-columns: 400px 1fr;
  border: 1px;
  text-align: center;
  background-color: #fff;
}

.grid2-content{
  background-color: #fff;
  text-align: center;
} */



.third-content{
  background-color: #fff;
}

.img5{
max-width: 100%;
}

.btn2{
  background-color:#ffc107;
  width: 140px;
  text-align: center;
  padding: 10px;
  border: none;
  margin-top: 10px;
}

.third-container{
  display: flex;
  margin-top: 20px;
  background-color: #fff;
}

.content{
  margin-top: 100px;
  line-height: 2;
  font-weight: bolder;
  font-size: 15px;
}

.single-p{
  text-align: center;
  font-weight: bolder;
  margin-top: 15px;
  font-size: 20px;
}

.last-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 160px;
  grid-gap: 20px;
  border: 1px;
  align-items: center;
  margin-top: 20px;

}

.img6{
  width: 240px;
}

@media only screen and (max-width: 600px) {
  .nav-items{
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .nav-bar{
    margin:0;
    padding:0;
  }

  .nav-link{
    font-size:20px;
    display: block;
  }

  .middle-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

  }

  .img1{
    width: 100%;

  }
  .baby-container{
    width: 240px;


  }

  .tacos1{
    width: 200px;
    font-size:20px;
    margin: 7px;

  }

  .tacos2{
    font-size:18px;
    width:200px;
    height: 26px;
    padding-bottom: 24px;
    margin: 7px;
  }

  .grid{
    width:240px;
    margin-left: 0;
  }

  .yellow{
    width: 100%;
    margin-left: 0;
  }
  .second-yellow{
    width: 100%;
    margin-left: 0;
  }

  .grid-container{
    width:100%;
    display: grid;
    grid-template-columns: 1fr;

  }

  .baby-grid{
    width: 240px;
  }

  .third-container{
    width: 240px;
    flex-direction: column;
  }

  .img5{
    width: 180px;
    margin-top: 20px;
  }

  .content{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
  }

  .single-p{
    margin-right: 300px;
  }

  .last-grid{
    width: 240px;
    display: grid;
    grid-template-columns: 1fr;

  }
  body{
    width: 100%;
    align-items: center;
    font-size: 18px;
  }
}

  @media only screen and (max-width: 768px) {
    .nav-bar{
      width: 100%;
    }

    .middle-container{
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .yellow{
      width: 100%;
      margin-left: 0;
    }

    .second-yellow{
      width: 100%;
      margin-left: 0;
    }


    body{
      background-color: purple;
    }
    .img1{
      width: 100%;
    }

    .last-grid{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3,1fr);
      margin-right:10px;

    }
    .img6{
    max-width: 100%;
    }
  }

  /* @media only screen and (min-width: 1200px) {
    .nav-bar{
      width: 100%;
    }

    .middle-container{
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .yellow{
      width: 100%;
      margin-left: 0;
    }

    .second-yellow{
      width: 100%;
      margin-left: 0;
    }


    .img1{
      width: 100%;
    }

    .last-grid{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2,1fr);
      margin-right:10px;

    }
    .img6{
      width: 100%;
    }

    body{
      background-color: purple;
      margin-right: 15px;
    }
  }
 */


/* @media only screen and (max-width: 600px) {
  .middle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .baby-container .img1{
    width: 100%;
  }
  .grid{
    width: 100%;
    margin-top: 2rem;
  }
  .yellow{
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .second-yellow{
    width: 100%;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 180px;
    grid-gap: 20px;
    border: 1px;
    text-align: center;
  }

  .baby-grid .lastp{
    font-size: 0.7rem;
  }

  .last-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 160px;
    grid-gap: 20px;
    border: 1px;
    align-items: center;
    margin-top: 20px;

  }

  .img6{
    width: 100%
  }

  .nav-link{
    font-size: 9px;
  }
} */

/* @media only screen and (max-width: 600px) {
  .middle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .baby-container .img1{
    width: 100%;
  }

  .grid{
    width: 100%;
    margin-top: 2rem;
  }

  .yellow{
    width: 100%;
    margin: 0 0 2rem 0;
  }

  .second-yellow{
    width: 100%;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 180px;
    grid-gap: 20px;
    border: 1px;
    text-align: center;
  }

  .baby-grid .lastp{
    font-size: 0.7rem;
  }

  .last-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 160px;
    grid-gap: 20px;
    border: 1px;
    align-items: center;
    margin-top: 20px;

  }

  .img6{
    width: 100%
    margin-top:30px;
  }

  .nav-link{
    font-size: 9px;

  } */


}
