*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

Body{
  padding: 1rem;
  background-color: purple;
}

.nav-items{
  display: grid;
  grid-row-gap: 10px
}

.nav-item{
  background-color: yellow;
  padding: 10px;
  list-style: none;
  text-align: center;
}


.nav-link{
  text-decoration: none;
  color:#000;
  font-size: 20px;
  font-weight: bolder;

}
