*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.logo{
    /* border-radius: 50%; */
    font-size: 15px;
    /* padding: 25px 0; */
    /* background-color: rgb(108, 90, 67); */
    /* width: 40px; */
}

.nav-list{
    display: flex;
    /* padding: 20px; */
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;   
}

.nav-link{
    color: #000;  
    font-size: 30px;
    font-weight: bold;  
}

.flex-gap{
    gap: 20px;
}

.nav-link:hover{
    color:#fff;
    transition: 1s;
}

.about-me-heading{
    font-weight: 300;
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 40px;
    color:rgb(102, 158, 210) ;
}
.flex-gap{
    display: flex;
}

.about-myself{
    font-size: 20px;
    font-weight: lighter;
}

h1{
    font: size 40px;
}

.nav-bar{
    background-color:  rgb(102, 158, 210);
    padding: 40px;
    margin-bottom: 20px;
}

.active{
    color: white;
}


.container{
    width: 300px;
    height: 500px;
    background-color: rgb(74, 71, 68);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 2px 2px 8px rgb(246, 240, 240);
    margin: 100px auto;
    
}

input{
    border: none;
    width: 250px;
    background-color: rgb(243, 242, 242);
    border-radius: 20px;
    padding: 30px;
    margin: 10px 10px;
    box-shadow: inset; 
     
}

.arithmetics:hover{
   background-color: rgb(43, 42, 41);
   color: #fff; 
}

.arithmetics{
    font-size: 27px;
    padding: 14px;
    color: rgb(25, 24, 24);
    border-radius: 20px;
    background-color:#fff;
    display: inline-block;
    margin: 8px 0;
    cursor:context-menu;
    text-align: center;
}

.increased-padding{
    padding:16px 40px; 
}

.reduced-padding{
    padding:10px;
    font-size: 30px;
}

.flex{
    display: flex;
    justify-content:space-evenly;
}

.colored-arithemetics{
    background-color: rgb(206, 100, 19);
}

